.AddPlayer {
    padding: 20px;
    text-align: center;
}

.AddPlayer__input {
    font-size: 28pt;
    padding: 0 10px;
    text-align: center;
}

.AddPlayer__submit {
    font-size: 20pt;
    margin-left: 20px;
    padding: 5px 10px;
}